*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(92, 6, 6);
}
div{
    text-align: center;
}
#Right-wheel{
    animation: wheel 1s  infinite linear; 
    transform-origin: center;
    transform-box: fill-box;

}
#left-wheel{
    animation: wheel 1s  infinite linear; 
    transform-origin: center;
    transform-box: fill-box;

}
#manbike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;

}
#hat{
    animation: hat 1s ease-in-out infinite alternate;
     transform-origin: center;
    transform-box: fill-box;
}
@keyframes wheel{
    from{
        transform: rotateZ(0deg);

    }
    to{
               transform: rotateZ(360deg);

    }
}
@keyframes bike{
    from{
        transform: rotateX(0deg);

    }
    to{
          transform: rotateX(20deg);

    }
}
@keyframes {
    from{
        transform: translateY(0%);

    }
    to{
          transform:translateY(30%);
    }

}